@import "tailwindcss";

@theme inline {
  --color-monster-green: #90ff00;
  --color-monster-white: #e2e8f0;
  --color-monster-blue: #00bfff;
  --font-sans: var(--font-inter), sans-serif;
  --font-display: var(--font-outfit), sans-serif;
}

:root {
  --background: #000000;
  --foreground: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  overscroll-behavior-y: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}